"*":
  Hydrogen: {}
  "atom-beautify":
    _analyticsUserId: "e1cb8ecf-ec33-4947-8e7e-9869c8ffe802"
  "color-picker":
    triggerKey: "E"
  core:
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "9265c61f-c398-d1d1-839d-b52fd867581a"
  "highlight-line": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
