"freesurfer-7t-pipeline":
  title: "freesurfer-7t-pipeline"
  paths: [
    "/Users/tce/git/freesurfer-7t-pipeline"
  ]
MOTDIS_screening:
  title: "MOTDIS"
  paths: [
    "/Users/tce/Dropbox/PhD/MOTDIS/git/MOTDIS"
  ]
"anaglyph-calibration":
  title: "anaglyph-calibration"
  paths: [
    "/Users/tce/Dropbox/PhD/MOTDIS/git/anaglyph-calibration"
  ]
blog:
  title: "blog"
  paths: [
    "/Users/tce/blog"
  ]
dotfiles:
  title: "dotfiles"
  paths: [
    "/Users/tce/dotfiles"
  ]
vpsBootstrap:
  title: "vpsBootstrap"
  paths: [
    "/Users/tce/git/vpsBootstrap"
  ]
nibabel:
  title: "nibabel"
  paths: [
    "/Users/tce/git/nibabel"
  ]
BvScripts:
  title: "BvScripts"
  paths: [
    "/Users/tce/Documents/BVQXExtensions/Scripts"
  ]
"MOTDISv3 Server26":
  title: "MOTDISv3 Server26"
  paths: [
    "/Volumes/Data/Projects/Thomas.Emmerling/MOTDISv3"
  ]
vpsRancher:
  title: "vpsRancher"
  paths: [
    "/Users/tce/git/vpsRancher"
  ]
metiertoday:
  title: "metiertoday"
  paths: [
    "/Users/tce/git/metiertodayNEW"
  ]
setupSSL:
  title: "setupSSL"
  paths: [
    "/Users/tce/git/setupSSL"
  ]
fLoc:
  title: "fLoc"
  paths: [
    "/Users/tce/Dropbox/PhD/LETIMA/git/fLoc"
  ]
letimaserver26:
  title: "LETIMA Server26"
  paths: [
    "/Volumes/Data/Projects/Thomas.Emmerling/LETIMA"
  ]
allesmachmaschine:
  title: "allesmachmaschine"
  paths: [
    "/Users/tce/git/allesmachmaschine"
  ]
phdthesis:
  title: "PhdThesis"
  paths: [
    "/Users/tce/Dropbox/PhD/Dissertation"
  ]
